body {
    font-family: 'Calibri', sans-serif;
}

.container {
    display: grid;
    /* grid-template-rows: auto auto; */
    grid-template-columns: auto auto; /* Dos columnas de tamaño automático */
    gap: 10px; /* Espacio entre las celdas, ajusta según sea necesario */
}

.selected {
    background-color: #93cc95;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.center {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}
  
.no_side_borders {
    border-right: none;
    border-left: none;
}

.no_borders {
    border: none;
}
  
td, th {
    border: 1px solid #ddd;
    padding: 8px; 
    text-align: left;
}

.id_button {
    width: 170px;
}

.principal_button {
    width: 250px;
    height: 30px;
}

.next_button {
    height: 30px;
    width: 80px;
    margin-right: 100px;
    margin-top: 20px;
}

.back_button {
    height: 30px;
    width: 80px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.turn {
    display: flex;
    background-color: #93cc95;
    border-radius: 30px;
    height: 200px;
    width: 400px;
    align-items: center;
    font-size: 100px;
}

.turn_manage {
    margin-top: 5vw;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px; 
}

.default {
    color: #000000;
}

.success {
    color: #2d8e31;
}

.error {
    color: #bf1212;
}